@font-face {
    src: url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: Comfortaa, sans-serif;
    font-weight: lighter;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    max-width: 1100px;
    width: 100%;
}

.app__name {
    margin: 40px 0;
    width: 30%;
}

a {
    text-decoration: none;
}

.logo {
    max-height: 40px;
}

.hidden {
    display: none;
}

.middleLine {
    display: flex;
    align-items: center;
}

.goods {
    display: grid;
    grid-template-columns: repeat(4, max(230px));
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 8% 5%;
    justify-content: center;
    width: 100%;
    padding: 30px 0 80px 0;
}

.products__title {
    text-align: start;
    padding-bottom: 20px;
}

#price-filter {
    height: 15px;
}

#product {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product__top {
    padding-top: 20px;
}

.products__top {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
}

.products__pic {
    max-height: 60px;
}

.product__image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__foot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 5px;
}

.product__foot > div:last-child {
    text-align: center;
}

.product__image {
    max-width: 250px;
    height: 230px;
    border-radius: 25px;
    overflow: hidden;
}

.product__count {
    display: flex;
    height: 17px;
}

.product__count,
.product__name {
    margin: 10px 0 5px 0;
}

.product__count > button {
    margin: 0 5px;
    height: 20px;
    width: 20px;
}

.product__name,
.product__price {
    font-size: 20px;
}

.product__price {
    color: #a15f7f;
    text-align: left;
}

.product__cart {
    height: 30px;
}
