.logInModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.logInModalContent {
    padding: 20px;
    background: pink;
    border-radius: 15px;
    min-width: 250px;
}

.logInModalActive {
    display: flex;
    justify-content: center;
    align-items: center;
}