.logInModal {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.logInModalContent {
    position: relative;
    z-index: 2;
    padding: 30px;
    background: white;
    border-radius: 15px;
    min-width: 330px;
    min-height: 270px;
}

.logInModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

