.logInForm,
.signUpForm {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logInForm > label,
.signUpForm > label {
    margin-left: 8px;
    color: #a15f7f;
}

.loginSwitch {
    margin-top: 10px;
    font-size: 12px;
    text-decoration: underline;
    text-align: center;
}

.loginPassInput,
.signupPassInput,
.signupMailInput,
.loginInput,
.signupInput {
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid black 1px;
    padding: 5px 10px;
}

.loginError {
    color: red;
    font-size: 10px;
    margin: 4px 0 0 8px;
}

.loginExit {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
}

.logInButton {
    padding: 13px;
    margin: 20px 0 5px 0;
    background: color(srgb 0.9955 0.7096 0.7551/0.47);
    color: black;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logInButton:hover {
    box-shadow: 1px 0 40px rgba(255, 221, 226, 1), 0 -12px 22px rgba(255, 255, 255, 0.77), 0 4px 6px rgba(255, 221, 226, 1), 0 -3px 5px rgba(255, 221, 226, 1);
    font-weight: bold;
    transition: all 0.2s ease-out .1s;
}

.modalBack {
    position: absolute;
    z-index: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.modalBack,
.logInButton {
    width: 100%;
}

p {
    margin-bottom: 20px;
    text-align: center;
}

.signUpContent,
.logInContent {
    display: none;
}

.sign_active,
.login_active {
    display: flex;
}
